*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1{

    margin-bottom: 2rem;
}

body{
    padding: 3rem;
}

#app{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

input{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    padding: 0.2rem;
}

button{
    width: 20%;
    margin: 0 auto;
    background-color: gray;
    color: red;
}

ul{
    list-style-type: none;
}

li div{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border: 1px solid black;
    padding: 0.5rem;
    cursor: pointer;
}

span{
    cursor: pointer;
    color: red;
    background-color: black;
    border: 1 px solid red;
    padding: 0.2rem 0.3rem;
    border-radius: 50%;
}

.sbarrato{
    text-decoration: line-through;
    color: red;
}